{# TODO : manage errors display #}

<form method="POST">
	<div class="mb-3">
	  <label for="picture" class="form-label">Picture://URL</label>
	  <input type="text" class="form-control" id="picture" aria-describedby="picture" name="picture" placeholder="Picture://URL">
	</div>
	<div class="mb-3">
		<label for="prompt" class="form-label">Your prompt</label>
		<input type="text" class="form-control" id="prompt" name="prompt" placeholder="Your prompt">
	  </div>
	<div class="mb-3">
		<label for="description" class="form-label">Comment</label>
		<input type="text" class="form-control" id="description" name="description" placeholder="Comment">
	</div>
	<button type="submit" class="btn btn-primary">Add pic</button>
  </form>
