{# TODO : manage errors display #}

<form>
	<div class="mb-3">
	  <label for="picture" class="form-label">Picture://URL</label>
	  <input type="text" class="form-control" id="picture" aria-describedby="picture" name="picture" placeholder="picture://URL">
	</div>
	<button type="submit" class="btn btn-primary">Add pic</button>
  </form>
