{% extends 'layout.html.twig' %}

{% block content %}
	{% if errors is defined %}
		{% for error in errors %}
			<div class="alert alert-danger" role="alert">
				{{ error }}
			</div>
		{% endfor %}
	{% endif %}
	<div class="container d-flex justify-content-center">
		<div class="col-12 col-md-6">
			<h1 class="title-add">Add your picture</h1>
			{% include 'Photo/addForm.html.twig' %}
		</div>
	</div>
{% endblock %}
{% block javascript %}
	<script src="../assets/js/jsaddform.js"></script>
{% endblock %}