:root {
    /* Couleurs de base */
    --light-color: #F5F5F5;
    --dark-color: #353738;
    --accent-color: #138FEB;
}

/* Nav Bar */

.nav-bg-color {
    background-color: var(--light-color);
}

.navbar-brand {
    font-style: italic;
    font-weight: 500;
}

.nav-link {
    font-weight: 500;
}

.nav-link:hover {
    color: var(--accent-color);
}

/* Footer */
.logo-footer-size {
    width: 24px;
    height: 24px;
}

/* Content */
.img-fit {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.img-fit:hover {
    transform: scale(1.1);
    transition: transform 0.5s ease;
    border: white solid 3px;
}

/* Font */

body {
    font-family: "Raleway", sans-serif;
}

/* Page add */

.title-add {
    margin-top: 15px;
}