:root {
  /* Base Color */
  --light-color: #f5f5f5;
  --dark2-color: #747576;
  --dark-color: #353738;
  --accent-color: #138feb;

  /* Var Title */
  --main-font: "Raleway", sans-serif;
  --content-font: "Nunito", sans-serif;
}

/* General Design */

.line {
  animation-duration: 5s;
  animation-name: sliding;
  animation-iteration-count: reverse;
  width: 25vw;
  height: 2px;
  background-color: black;
}

@keyframes sliding {
  from {

    width: 0%;
  }

  to {

    width: 25vw;
  }
}


/* Nav Bar */
a.nav-link {
  font-family: var(--content-font);
}

ul {
  list-style-type: none;
  padding: 0;
}

.nav-bg-color {
  background-color: var(--light-color);
}

.navbar-brand {
  font-style: italic;
  font-weight: 500;
}

.nav-link {
  font-weight: 500;
}

.nav-link:hover {
  color: var(--accent-color);
}

/* Footer */
.logo-footer-size {
  width: 24px;
  height: 24px;
}

/* Content */
.img-container {
  position: relative;
  float: left;
  margin-right: 3px;
  margin-bottom: 3px;
}

.img-title {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  background-color: var(--light-color);
  color: var(--dark-color);
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  font-family: var(--content-font);
  opacity: 0;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  transition: opacity 0.2s ease-in-out;
}

.button-fav {
  position: absolute;
  top: 0;
  right: 0;
  font-size:1.25rem;
  padding: 10px;
  color: var(--light-color);
  opacity: 0;
  max-width: 100%;
  border: none;
  background: none;
  transition: opacity 0.2s ease-in-out;
}

.edit-button {
  position: absolute;
  font-size:1.25rem;
  top: 0;
  left: 0;
  padding: 10px;
  color: var(--light-color);
  opacity: 0;
  max-width: 100%;
  border: none;
  background: none;
  transition: opacity 0.2s ease-in-out;
}

.button-delete,
.button-save{
  color: var(--light-color);
  max-width: 100%;
  font-size:1.25rem;
  border: none;
  background: none;
}

.button-follow {
  position: absolute;
  font-size:1.25rem;
 top: 0;
  left: 0;
  padding: 10px;
  margin-bottom: 40px;
  color: var(--light-color);
  opacity: 0;
  max-width: 100%;
  border: none;
  background: none;
  transition: opacity 0.2s ease-in-out;
}
.img-container:hover .button-follow {
  opacity: 0.8;
}


.img-container:hover .button-fav {
  opacity: 0.8;
}

.img-container:hover .img-title {
  opacity: 0.8;
}

.img-container:hover .edit-button {
  opacity: 0.8;
}

.img-fit {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

/* Pop-Up Index */
#popup-container,
#popup-container-edit {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

#popup-content {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: 5%;
}

#popup-image,
#popup-image-edit {
  max-width: 60%;
  max-height: 60%;
  border-radius: 20px;
}

#popup-info {
  display: flex;
  flex-direction: column;
  margin: 5%;
  padding: 2%;
  max-width: 60%;
  max-height: 40%;
  border-radius: 20px;
  overflow: auto;
  color: var(--light-color);
  font-size: 1em;
  list-style-type: none;
  background-color: rgba(175, 176, 176, 0.9);
}

.poptitle {
  display: flex;
  align-items: baseline;
  gap: 10px;
}

#popup-close-btn,
#popup-close-edit-btn {
  font-family: var(--content-font);
  font-size: 18px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: var(--light-color);
}

h1,
h2 {
  font-style: italic;
}

.form-control {
  width: 50vw;
}

/* Font */

body {
  font-family: var(--main-font);
}

/* Button */

.btn-primary {
  background-color: var(--accent-color);
}

.btn:hover {
  background-color: var(--accent-color);
  opacity: 0.9;
}