<header>
	<nav class="navbar navbar-expand-md nav-bg-color shadow-sm navbar-bottom">
		<div
			class="container-fluid">
			{# left side of navbar #}
			<a class="navbar-brand" href="/">Wipa</a>
			<div
				class="justify-content-end">
				{# burger menu #}
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#my_navbar" aria-controls="my_navbar" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				{# right side of navbar (hidden in burger when md) #}

				<div class="collapse navbar-collapse" id="my_navbar">
					<ul
						class="navbar-nav me-auto mb-2 mb-lg-0">
						{# favorite #}
						<li class="nav-item">
							<a class="nav-link" href="#">
								<img class="icon" src="../assets/images/icon_favorite.svg" alt="Go to fav">
							</a>
						</li>
						{# add pic #}
						<li class="nav-item">
							<a class="nav-link" href="/photos/add">
								<img class="icon" src="../assets/images/icon_addPhoto.svg" alt="Add a pic">
							</a>
						</li>
						{# logon #}
						<li class="nav-item">
							<a class="nav-link" href="#">
								<img class="icon" src="../assets/images/icon_logon.svg" alt="Go to logon">
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</nav>
</header>
