<header>
	<nav class="navbar navbar-expand nav-bg-color shadow-sm navbar-bottom">
		<div
			class="container-fluid">
			{# left side of navbar #}
			<a class="navbar-brand" href="/">Wipa</a>
			{# right side of navbar#}
			<div class="justify-content-end">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					{% if user %}
						{# contest #}
						<li class="nav-item">
							<a class="nav-link" href="/vote">
								<span class="d-none d-md-inline">Contest</span>
								<svg width="24px" height="24px" viewbox="0 0 18 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
									<title>how_to_vote</title>
									<desc>Created with Sketch.</desc>
									<g id="Icons" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
										<g id="Rounded" transform="translate(-205.000000, -1484.000000)">
											<g id="Content" transform="translate(100.000000, 1428.000000)">
												<g id="-Round-/-Content-/-how_to_vote" transform="translate(102.000000, 54.000000)">
													<g>
														<polygon id="Path" points="0 0 24 0 24 24 0 24"></polygon>
														<path d="M11.34,15.02 C11.73,15.41 12.36,15.41 12.75,15.02 L19.11,8.66 C19.5,8.27 19.5,7.64 19.11,7.25 L14.16,2.3 C13.78,1.9 13.15,1.9 12.76,2.29 L6.39,8.66 C6,9.05 6,9.68 6.39,10.07 L11.34,15.02 Z M13.46,4.41 L17,7.95 L12.05,12.9 L8.51,9.36 L13.46,4.41 Z M20.41,15.41 L18.29,13.29 C18.11,13.11 17.85,13 17.59,13 L17.32,13 L15.32,15 L17.23,15 L19,17 L5,17 L6.78,15 L8.83,15 L6.83,13 L6.41,13 C6.14,13 5.89,13.11 5.7,13.29 L3.58,15.41 C3.21,15.79 3,16.3 3,16.83 L3,20 C3,21.1 3.9,22 5,22 L19,22 C20.1,22 21,21.11 21,20 L21,16.83 C21,16.3 20.79,15.79 20.41,15.41 Z" id="🔹Icon-Color" fill="currentColor"></path>
													</g>
												</g>
											</g>
										</g>
									</g>
								</svg>
							</a>
						</li>
						{# add pic #}
						<li class="nav-item">
							<a class="nav-link" href="/photos/add">
								<span class="d-none d-md-inline">Add Pic</span>
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-image" viewbox="0 0 16 16">
									<path d="M6.002 5.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
									<path d="M2.002 1a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2h-12zm12 1a1 1 0 0 1 1 1v6.5l-3.777-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062L1.002 12V3a1 1 0 0 1 1-1h12z"/>
								</svg>
							</a>
						</li>
						{# profil #}
						<li class="nav-item">
							<a class="nav-link" href="/user">
								<span class="d-none d-md-inline">{{ user.username }}</span>
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-person-circle" viewbox="0 0 16 16">
									<path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
									<path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
								</svg>
							</a>
						</li>
						{# logout #}
						<li class="nav-item">
							<a class="nav-link" href="/logout">
								<span class="d-none d-md-inline">Log Out</span>
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-box-arrow-in-right" viewbox="0 0 16 16">
									<path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z"/>
									<path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
								</svg>
							</a>
						</li>
					{% else %}
						{# Register #}
						<li class="nav-item">
							<a class="nav-link" href="/register">
								<span class="d-none d-md-inline">Register</span>
								<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-r-square-fill" viewbox="0 0 16 16">
									<path d="M6.835 5.092v2.777h1.549c.995 0 1.573-.463 1.573-1.36 0-.913-.596-1.417-1.537-1.417H6.835Z"/>
									<path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2Zm3.5 4.002h3.11c1.71 0 2.741.973 2.741 2.46 0 1.138-.667 1.94-1.495 2.24L11.5 12H9.98L8.52 8.924H6.836V12H5.5V4.002Z"/>
								</svg>
							</a>
						</li>
						{# logon #}
						<li class="nav-item">
							<a class="nav-link" href="/login">
								<span class="d-none d-md-inline">Log In</span>
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-box-arrow-in-left" viewbox="0 0 16 16">
									<path fill-rule="evenodd" d="M10 3.5a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-2a.5.5 0 0 1 1 0v2A1.5 1.5 0 0 1 9.5 14h-8A1.5 1.5 0 0 1 0 12.5v-9A1.5 1.5 0 0 1 1.5 2h8A1.5 1.5 0 0 1 11 3.5v2a.5.5 0 0 1-1 0v-2z"/>
									<path fill-rule="evenodd" d="M4.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H14.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z"/>
								</svg>
							</a>
						</li>
					{% endif %}
				</ul>
			</div>
		</div>
	</div>
</nav></header>
