        <header>
            <nav class="navbar navbar-expand-sm nav-bg-color shadow-sm navbar-bottom">
                <div class="container-fluid">
                    <a class="navbar-brand" href="/">Wipa</a>

                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                            <li class="nav-item active">
                                <a class="nav-link link-dark" href="/add"
                                    >Add Pic</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
